/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

body {
  background-color: #ebd8c2;
}

a {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  z-index: 1000;
  margin-top: 10px;
  width: 200pt;
}

.sidebar .span3 {
  height: 300pt;
  background-color: #E9EAEE;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  margin-top: 12px;
}

.sidebar form {
  padding-left: 10px;
}

.sidebar tr .icon-remove {
  display: none;
}

.sidebar .person-controls {
  text-align: center;
}

.sidebar tr:hover .icon-remove {
  display: inline-block;
}

.bg {
  position: absolute;
}
