!!!html
%html
  %head
    %link{"rel" => "stylesheet", "href" => "tomorrow-night-bright.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "styles.css", "type" => "text/css"}
    %script{:type => "text/javascript", :src => "jquery.js"}
    %script{:type => "text/javascript", :src => "handlebars.js"}
    %script{:type => "text/javascript", :src => "ember.js"}
    %script{:type => "text/javascript", :src => "highlight.js"}
    %script{:type => "text/x-handlebars", :"data-template-name" => "person"}
      :plain
        <h1>{{person.fullName}}</h1>
    :javascript
      hljs.initHighlightingOnLoad();
  %body
    %h1 Autoupdate
    %pre
      %code
        =preserve do
          :plain
            App = {};
            App.husband = Em.Object.create({
              firstName: "Ross",
              lastName: "Geller",
              fullName: function() {
                return this.get("firstName") +
                  " " + this.get("lastName");
              }.property("firstName", "lastName")
            });
    %pre
      %code
        =preserve do
          :plain
            &lt;script type="text/x-handlebars"
              data-template-name="person"&gt;
              &lt;h1&gt;{{person.fullName}}&lt;/h1&gt;
            &lt;/script&gt;
    %pre
      %code
        =preserve do
          :plain
            App.PersonView = Em.View.extend({
              templateName: "person"
            });

