.container-fluid
  .row-fluid
    .span3.sidebar
      %table.table.table-striped
        %thead
          %tr
            %th Коллеги
            %th
        %tbody
          %tr
            %td
              Nick Recobra
            %td.person-controls
              %i.icon-remove
          %tr
            %td
              Stepashka
            %td.person-controls
              %i.icon-remove
          %tr
            %td
              Амиров Тимур
            %td.person-controls
              %i.icon-remove
          %tr
            %td
              Париев Сергей
            %td.person-controls
              %i.icon-remove
    .span9
      %img.bg{src: image_path("bg.png")}
