.container-fluid
  .row-fluid
    .sidebar
      .controls
        %button.btn
          %i.icon-plus
          Коллега
        %button.btn
          %i.icon-plus
          Стол
      .span3
        -#%form
          %legend Правка коллеги
          %label Имя
          %input{:type => "text"}
          %label Email
          %input{:type => "email"}
          %label Роль
          %select{:style => "display:block;"}
            %option Разработчик
            %option Менеджер
            %option Админ
          %label &nbsp;
          %button.btn{:type => "submit"} Сохранить
          %button.btn.btn-warning Назад
        %table.table.table-striped
          %thead
            %tr
              %th Коллеги
              %th
          %tbody
            %tr
              %td
                Nick Recobra
              %td.person-controls
                %i.icon-remove
            %tr
              %td
                Stepashka
              %td.person-controls
                %i.icon-remove
            %tr
              %td
                Амиров Тимур
              %td.person-controls
                %i.icon-remove
            %tr
              %td
                Париев Сергей
              %td.person-controls
                %i.icon-remove
    .span9
      %img.bg{src: image_path("bg.png")}
