<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='sidebar'>
      <div class='controls'>
        <button {{action addPerson}} class='btn'>
          <i class='icon-plus'></i>
          Коллега
        </button>
        <button class='btn'>
          <i class='icon-plus'></i>
          Стол
        </button>
      </div>
      <div class='span3'>
        {{outlet}}
      </div>
    </div>
    <div class='span9'>
      <img class='bg' src='/assets/bg_clean.png'>
    </div>
  </div>
</div>

