<table class='table table-striped'>
  <thead>
    <tr>
      <th>Коллеги</th>
      <th></th>
    </tr>
  </thead>
  {{#each person in controller}}
    <tr>
      <td>
        {{person.name}}
      </td>
      <td class='person-controls'>
        <i class='icon-remove'></i>
      </td>
    </tr>
  {{/each}}
</table>
