<table class='table table-striped'>
  <thead>
    <tr>
      <th>Коллеги</th>
      <th></th>
    </tr>
  </thead>
  {{#each person in controller}}
    <tr>
      <td>
        <a {{action editPerson person}}>{{person.name}}</a>
      </td>
      <td class='person-controls'>
        <i class='icon-remove'></i>
      </td>
    </tr>
  {{/each}}
</table>
