<table class='table table-striped'>
  <thead>
    <tr>
      <th>Коллеги</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Nick Recobra
      </td>
      <td class='person-controls'>
        <i class='icon-remove'></i>
      </td>
    </tr>
    <tr>
      <td>
        Stepashka
      </td>
      <td class='person-controls'>
        <i class='icon-remove'></i>
      </td>
    </tr>
    <tr>
      <td>
        Амиров Тимур
      </td>
      <td class='person-controls'>
        <i class='icon-remove'></i>
      </td>
    </tr>
    <tr>
      <td>
        Париев Сергей
      </td>
      <td class='person-controls'>
        <i class='icon-remove'></i>
      </td>
    </tr>
  </tbody>
</table>
