<form>
  <legend>Правка коллеги</legend>
  <label>Имя</label>
  <input type='text'>
  <label>Email</label>
  <input type='email'>
  <label>Роль</label>
  <select style='display:block;'>
    <option>Разработчик</option>
    <option>Менеджер</option>
    <option>Админ</option>
  </select>
  <label>&nbsp;</label>
  <button class='btn' type='submit'>Сохранить</button>
  <button class='btn btn-warning'>Назад</button>
</form>
