!!!html
%html
  %head
    %link{"rel" => "stylesheet", "href" => "tomorrow-night-bright.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "styles.css", "type" => "text/css"}
    %script{:type => "text/javascript", :src => "jquery.js"}
    %script{:type => "text/javascript", :src => "handlebars.js"}
    %script{:type => "text/javascript", :src => "ember.js"}
    %script{:type => "text/javascript", :src => "highlight.js"}
    :javascript
      hljs.initHighlightingOnLoad();
  %body
    %h1 Computed Properties
    -#
      Em.Binding.oneWay
    %pre
      %code
        =preserve do
          :plain
            App = {};
            App.husband = Em.Object.create({
              firstName: "Ross",
              lastName: "Geller",
              fullName: function() {
                console.log("Hola");
                return this.get("firstName") + " " + this.get("lastName");
              }.property("firstName", "lastName")
            });
            App.wife = Em.Object.create({
              husbandNameBinding: "App.husband.fullName"
            });

